<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../../static/css/style.css">
    <title>ЕкаДом</title>
</head>

<body>

<section class='header'>
    <div class='container'>
        <div class='header-line'>
            <div class="nav"><a class="nav-item" href="#" data-scroll="#about">O нас</a></div>
            <div class='header-logo'><img src="../../static/images/header/header-logo.png" alt=""></div>
            <!-- Поставить лого в центр экрана вместо текста, текст убрать -->
            <div class="nav"><a class="nav-item" href="#" data-scroll="#contacts">Контакты</a></div>
        </div>
    </div>
</section>

<section class="intro">
    <div class="container">
        <div class="intro-inner">
            <h1 class="intro-title-1">Агенство недвижимости</h1>
            <h1 class="intro-title-2">Лучшее в Свердловской области</h1>

            <a class="btn" id="intro">Заказать <br/>консультацию</a>

            <div id="my_modal" class="modal">
                <div class="modal_content">
                    <span class="close_modal_window">×</span>
                    <form class="form"> <!--method="POST" action="telegram_bot.php"-->
                        <div class="form-logo"><img src="../../static/images/header/header-logo.png" alt=""></div>
                        <div class="form-text">Вы можете оставить заявку на сайте и мы вам обязательно перезвоним</div>
                        <div class="form-group">
                            <label class="left-text" id="ltp" for="FormControlInput1">Номер телефона</label>
                            <input name="phone" type="text" class="form-control" id="FormControlInput1" oninvalid="this.setCustomValidity('Пожалуйста введите Ваш номер телефона')"
                                   oninput="setCustomValidity('')" required placeholder="+7(999)-999-99-99">
                        </div>
                        <div class="form-group">
                            <label class="left-text" id="ltn" for="FormControlInput2">Имя</label>
                            <input name="name" type="text" class="form-control" id="FormControlInput2" oninvalid="this.setCustomValidity('Пожалуйста введите Ваше имя')" oninput="setCustomValidity('')"
                                   required placeholder="Иван">
                        </div>
                        <div class="form-group">
                            <label class="left-text" for="FormControlInput3">Вопрос по которому <br/>Вы хотите обратиться</label>
                            <input name="address" type="text" class="form-control" id="FormControlInput3" oninvalid="this.setCustomValidity('Пожалуйста введите Ваш вопрос')"
                                   oninput="setCustomValidity('')" required placeholder="Покупка квартиры">
                        </div>
                        <button type="submit" id="smbt-btn" class="btn btn-primary">Отправить заявку</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="services">
    <div class="container-4-bg">
        <div class="container">
            <div class="services-block">
                <div class="services-image">
                    <img src="../../static/images/services/for animation/heading1-org.png" alt="">
                    <div class="services-heading">Наши<br/>услуги</div>
                </div>

                <div class="services-image-bg">
                    <img src="../../static/images/services/for animation/heading1-grn.png" alt="">
                </div>
                <script src="../../static/js/services-animation.js"></script>

                <ul class="services-list">
                    <li><span class="services-text">Купить недвижимость</span></li>
                    <li><span class="services-text">Обменять недвижимость</span></li>
                    <li><span class="services-text">Продать недвижимость</span></li>
                    <li><span class="services-text">Подобрать недвижимость</span></li>
                    <li><span class="services-text">Оценить недвижимость</span></li>
                    <li><span class="services-text">Сопровождение в сделке</span></li>
                </ul>
            </div>

            <div class="services-block">
                <ul class="services-list">
                    <li><span class="services-text">Купить недвижимость</span></li>
                    <li><span class="services-text">Обменять недвижимость</span></li>
                    <li><span class="services-text">Продать недвижимость</span></li>
                    <li><span class="services-text">Подобрать недвижимость</span></li>
                    <li><span class="services-text">Оценить недвижимость</span></li>
                    <li><span class="services-text">Сопровождение в сделке</span></li>
                </ul>

                <div class="services-image">
                    <img src="../../static/images/services/for animation/heading2-grn.png" alt="">
                    <div class="services-heading">Наши<br/>услуги</div>
                </div>

                <div class="services-image-bg">
                    <img src="../../static/images/services/for animation/heading2-org.png" alt="">
                </div>
            </div>
        </div>
    </div>
</section>

<section class="about-us" id="about">
    <div class="container">
        <div class="about-us-block">
            <div class="about-green-block">
                <img src="../../static/images/about-us/green-for-certificates.png" alt="">
            </div>

            <div class="about-us-slideshow">
                <link rel="stylesheet" href="../../static/css/about-us-slideshow.css">
                <ul id="about-us-slides">
                    <li class="about-us-slide about-us-showing"></li>
                    <li class="about-us-slide"></li>
                    <li class="about-us-slide"></li>
                    <li class="about-us-slide"></li>
                    <li class="about-us-slide"></li>
                </ul>
                <div class="about-us-buttons">
                    <button class="about-us-controls" id="about-us-previous">&lt;</button>

                    <button class="about-us-controls" id="about-us-pause">&#10074;&#10074;</button>

                    <button class="about-us-controls" id="about-us-next">&gt;</button>
                </div>
            </div>

            <script src="../../static/js/about-us-slideshow.js"></script>

            <div class="about-right-block">
                <div class="about-right-logo">
                    <img src="../../static/images/about-us/black-logo.png" alt="">
                </div>

                <ul class="about-right-text">
                    <li><span class="about-text">Агенство существует с 2006 года</span></li>
                    <li><span class="about-text">Через нас прошло более 100 000 клиентов</span></li>
                    <li><span class="about-text">Мы являемся официальным партнером Уральской Палаты
                                Недвижимости</span></li>
                    <li><span class="about-text">Агенство существует с 2006 года</span></li>
                    <li><span class="about-text">Через нас прошло более 100 000 клиентов</span></li>
                    <li><span class="about-text">Мы являемся официальным партнером Уральской Палаты
                                Недвижимости</span></li>
                    <li><span class="about-text">Агенство существует с 2006 года</span></li>
                    <li><span class="about-text">Через нас прошло более 100 000 клиентов</span></li>
                    <li><span class="about-text">Мы являемся официальным партнером Уральской Палаты
                                Недвижимости</span></li>
                </ul>
            </div>
        </div>
    </div>
</section>

<section class="partners">
    <div class="container">
        <div style="height: 5px;"></div>
        <div class="partners-bg">
            <h1 class="partners-h1">Наши Партнеры</h1>

            <div class="partners-slideshow">
                <link rel="stylesheet" href="../../static/css/partners-slideshow.css">
                <ul id="partners-slides">
                    <li class="partners-slide partners-showing"></li>
                    <li class="partners-slide"></li>
                </ul>
                <div class="partners-buttons">
                    <button class="partners-controls" id="partners-previous">&lt;</button>

                    <button class="partners-controls" id="partners-next">&gt;</button>
                </div>
            </div>

            <script src="../../static/js/partners-slideshow.js"></script>

            <a class="btn" id="partners">Получить бесплатную <br/>консультацию</a>
        </div>
    </div>
</section>

<section class="rieltors" id="contacts">
    <div class="container">
        <div class="rieltors-block">
            <div class="rieltors-text">
                Ивановичев<br/>
                Иван<br/>
                Иванович<br/>
                <br/>
                Директор<br/>
                <br/>
                <br/>
                Риелтор со стажем <b>более 20 лет</b><br/>
                За время работы было выполнено <b>более 70 000 сделок</b><br/>
            </div>
            <div class="rieltors-image">
                <img src="../../static/images/rieltors/green-image-bg.png" alt="">
            </div>
            <div class="rieltors-image-bg">
                <img src="../../static/images/rieltors/orange-image-bg.png" alt="">
            </div>
            <script src="../../static/js/rieltors-animation.js"></script>
        </div>
    </div>
</section>

<section class="bottom-page">
    <div class="container">
        <div class="bottom-logo">
            <img src="../../static/images/bottom-page/bottom-logo.png" alt="">
        </div>
        <div class="bottom-info">
            <span class="number">+7<span class="code">(343)</span>213-13-11</span>

            <div class="bottom-text">
                г. Екатеринбург, ул. Академика Шварца 17 (ТЦ Дирижабль)
            </div>
        </div>
    </div>
</section>

<script src="../../static/js/form-validate.js"></script>
<script src="../../static/js/buttons.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
<script src="../../static/js/app.js"></script>

</body>

</html>