body {
    margin: 0;
    font-family: -apple-system, 'Trebuchet MS', sans-serif;
    /*font-family: system-ui, -apple-system, system-ui, "Helvetica Neue", Helvetica, Arial, sans-serif;*/

}

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;

    /*background-color: yellow; */
}

.intro {
    display: flex;
    flex-direction: column;
    justify-content: center;

    width: 100%;
    height: 100vh;

    background: url(../images/main-window/main-background.jpg) center no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
}

.intro-inner {
    width: 100%;
    max-width: 700px;
    margin-top: 300px;
    margin-left: 250px;

    text-align: center
}

.intro-title-1 {
    color: #fff;
    font-size: 60px;
    font-weight: 500;
    line-height: 0.7;
}

.intro-title-2 {
    color: #fff;
    font-size: 50px;
    font-weight: 500;
    line-height: 0.7;
}

.header {
    width: 100%;
    display: flex;

    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

.header-line {
    display: flex;
}

.header-logo {
    width: 22.5%;

    margin: 1px 325px;
}

.nav {
    width: 38.75%;

    margin: 20px auto;
}

.nav-item {
    color: #236532;
    text-decoration: none;
    font-weight: 700;
    font-size: 30px;

    transition: color 0.1s linear;
}

.nav-item:hover {
    color: #f57146;
}

#intro {
    margin: 150px auto 0;
    display: inline-block;
    vertical-align: top;
    padding: 18px 105px;

    background: url(../images/main-window/button-1.png) center no-repeat;
    color: #fff;
    font-size: 25px;
    font-weight: 500;
    text-decoration: none;

    transition: background 0.1s linear;
}

#intro:hover {
    background: url(../images/main-window/button-1-trans.png) center no-repeat;
}

/* .container-4-bg {
    background: url(images/services/background.png) center no-repeat;
    -webkit-background-size: auto;
    background-size: auto;

    background-position-y: 20px;
} */

.container-4-bg:before {
    content: "";
    display: block;
    width: 74%;
    max-width: 1200px;
    height: 2px;
    margin: 5px auto 0;

    background-color: #236532;
}

.services-block {
    display: flex;
    list-style-type: none;
}

.services-image {
    float: left;
    width: 30%;
    margin: 30px -31% 30px 14px;
    position: relative;
    z-index: 1;
}

.services-image-bg {
    width: 30%;

    margin: 50px 89px;

    content: ' ';
    display: table;
    clear: both;

    height: 1vh;
    aspect-ratio: 1 / 1;

    transform: translate(-21px, -21px);
    transition: linear 1s ease-in-out, transform 1s ease-in-out
}

.services-image-bg.animation-class {
    transform: translate(0, 0);
    transition: linear 1s ease-in-out, transform 1s ease-in-out;
}

.services-heading {
    position: absolute;
    color: #fff;

    font-size: 55px;
    font-weight: 500;
    text-align: center;

    left: 67px;
    top: 93px;
}

.services-list {
    width: 70%;
    color: #236532;

    margin: 65px 140px;

    font-size: 42px;
    font-weight: 500;
    line-height: 1;
}

.services-text {
    color: black;
}

.about-us-block {
    background: url(../images/about-us/orange-back.png) center no-repeat;
    -webkit-background-size: auto;
    background-size: auto;

    background-position-y: 50px;

    display: flex;
    list-style-type: none;
}

.about-green-block {
    position: absolute;
    margin: 10px 0 0 -6px;
}

.about-right-logo {
    margin: 65px 0 0 144px;
}

.about-right-text {
    width: 70%;
    margin: 15px 0 0 47px;
}

.about-text {
    font-size: 24px;
    font-weight: 500;
    line-height: 1;

    color: black;
}

.partners-bg {
    background: url(../images/partners/frame.png) center no-repeat;
    -webkit-background-size: auto;
    background-size: auto;

    background-position-y: 0;
}

.partners-h1 {
    color: black;
    font-size: 90px;
    font-weight: 500;
    text-decoration: none;
    text-align: center;
}

#partners {
    width: 580px;
    margin: 86px 0 86px 310px;
    display: inline-block;
    vertical-align: top;
    padding: 32px 0;

    color: #fff;
    font-size: 25px;
    font-weight: 500;
    text-decoration: none;
    text-align: center;

    background: url(../images/partners/button-grn.png) center no-repeat;
    -webkit-background-size: auto;
    background-size: auto;

    transition: background 0.1s linear;
}

#partners:hover {
    background: url(../images/partners/button-org.png) center no-repeat;
}

.rieltors-block {
    display: flex;

    background: url(../images/rieltors/rieltors-bg-1.png) center no-repeat;
    -webkit-background-size: auto;
    background-size: auto;

    background-position-y: 7px;
    background-position-x: 0;
}

.rieltors-text {
    width: 400px;
    color: black;
    font-size: 40px;
    font-weight: 500;
    text-decoration: none;
    text-align: left;

    float: left;
    margin: 49px 0 0 60px;
}

.rieltors-image {
    float: right;
    width: 60%;
    margin: 0 0 0 200px;
    position: relative;
    z-index: 1;
}

.rieltors-image::after {
    content: "";
    display: block;
    width: 1200px;
    height: 2px;
    margin: 50px 0 5px -660px;

    background-color: #236532;
}

.rieltors-image-bg {
    float: right;

    margin: 30px 0 0 -690px;

    content: ' ';
    display: table;
    clear: both;

    height: 1vh;
    aspect-ratio: 1 / 1;

    transform: translate(-31px, -31px);
    transition: linear 1s ease-in-out, transform 1s ease-in-out
}

.rieltors-image-bg.animation-class {
    transform: translate(0, 0);
    transition: linear 1s ease-in-out, transform 1s ease-in-out;
}

.bottom-page {
    display: flex;
}

.bottom-logo {
    float: left;
    width: 20%;

    margin: auto 5px 5px;
}

.bottom-info {
    float: right;
    width: 75%;
}

.number {
    color: #236532;
    font-size: 40px;
    font-weight: 700;
    text-decoration: none;
    line-height: 2.5;
    text-align: right;
    margin: 0 0 0 550px;
}

.code {
    color: #f57146;
    font-size: 40px;
    font-weight: 700;
    text-decoration: none;
    line-height: 2.5;
    text-align: right;
}

.bottom-text {
    font-size: 21px;
    font-weight: 500;
    text-decoration: none;
    text-align: right;
    line-height: 1.5;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1; /*or 1000*/
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.6);
}

.modal-open {
    overflow: hidden
}

.modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1050;
    display: none;
    overflow: hidden;
    outline: 0
}

.modal .modal_content {
    background-color: #fefefe;
    border-radius: 20px;
    box-sizing: border-box;
    /*height: 500px;*/
    margin: 19% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 25%;
    z-index: 99999;
}

.modal .modal_content .close_modal_window {
    color: black;
    float: right;
    font-size: 30px;
    font-weight: bold;
    cursor: pointer;
}

.close_modal_window {
    margin: -13px 0;
}

.form-group {
    height: 30px;
    text-align: left;
    margin: auto;
}

.left-text {
    width: 50%;
}

.form-text {
    text-align: center;
    /*height: 60px;*/
    padding: 20px;
}

.form-control {
    text-align: left;
    float: right;
}

.btn-primary {
    align-items: center;
    background-color: #f57146;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: .25rem;
    box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
    box-sizing: border-box;
    color: white;
    cursor: pointer;
    display: inline-flex;
    font-family: -apple-system, 'Trebuchet MS', sans-serif;
    font-size: 16px;
    font-weight: 600;
    justify-content: center;
    line-height: 1.25;
    margin: 30px 70px 0;
    min-height: 3rem;
    padding: calc(.875rem - 1px) calc(1.5rem - 1px);
    position: relative;
    text-decoration: none;
    transition: all 250ms;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: baseline;
    width: auto;
}

.btn-primary:hover,
.btn-primary:focus {
    border-color: rgba(0, 0, 0, 0.15);
    box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
    background-color: #236532;
    color: white;
}

.btn-primary:hover {
    transform: translateY(-1px);
}

.btn-primary:active {
    background-color: #F0F0F1;
    border-color: rgba(0, 0, 0, 0.15);
    box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
    color: rgba(0, 0, 0, 0.65);
    transform: translateY(0);
}