body {
    margin: 0;
    /* font-family: Roboto Slab; */
}

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0px auto;

    /* background-color: yellow; */
}

.intro {
    display: flex;
    flex-direction: column;
    justify-content: center;

    width: 100%;
    height: 100vh;

    background: url(images/main-window/main-background.jpg) center no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
}

.intro-inner {
    width: 100%;
    max-width: 700px;
    margin-top: 300px;
    margin-left: 250px;

    text-align: center
}

.intro-title-1 {
    color: #fff;
    font-size: 60px;
    font-weight: 500;
    line-height: 0.7;
}

.intro-title-2 {
    color: #fff;
    font-size: 50px;
    font-weight: 500;
    line-height: 0.7;
}

.header {
    width: 100%;
    display: flex;

    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

.header-line {
    display: flex;
}

.header-logo {
    width: 22.5%;

    margin: 1px 325px;
}

.nav {
    width: 38.75%;

    margin: 20px auto;
}

.nav-item {
    color: #236532;
    text-decoration: none;
    font-weight: 700;
    font-size: 30px;

    transition: color 0.1s linear;
}

.nav-item:hover {
    color: #f57146;
}

.btn-intro {
    margin: 150px auto 0;
    display: inline-block;
    vertical-align: top;
    padding: 18px 105px;

    background: url(images/main-window/button-1.png) center no-repeat;
    color: #fff;
    font-size: 25px;
    font-weight: 500;
    text-decoration: none;

    transition: background 0.1s linear;
}

.btn-intro:hover {
    background: url(images/main-window/button-1-trans.png) center no-repeat;
}

/* .container-4-bg {
    background: url(images/services/background.png) center no-repeat;
    -webkit-background-size: auto;
    background-size: auto;

    background-position-y: 20px;
} */

.container-4-bg:before {
    content: "";
    display: block;
    width: 74%;
    height: 2px;
    margin: 5px auto 0;

    background-color: #236532;
}

.services-block {
    display: flex;
    list-style-type: none;
}

.services-image {
    float: left;
    width: 30%;
    margin: 30px 14px;
    margin-right: -31%;
    position: relative;
    z-index: 1;
}

.services-image-bg {
    width: 30%;

    margin: 50px 89px;

    content: ' ';
    display: table;
    clear: both;
}

/* Animation start */
.services-image-bg {
    height: 1vh;
    aspect-ratio: 1 / 1;
    animation: 1.5s linear 0s alternate back-rect;
}

@keyframes back-rect {
    from {
        transform: translate(-21px, -21px);
        /* для анимации вовремя нужно подключать js, этим я займусь позже */
    }
}

/* Animation finish */

.services-heading {
    position: absolute;
    color: #fff;

    font-size: 54px;
    font-weight: 500;
    text-align: center;

    left: 85px;
    top: 93px;
}

.services-list {
    width: 70%;
    color: #236532;

    margin: 65px 140px;

    font-size: 42px;
    font-weight: 500;
    line-height: 1;
}

.services-text {
    color: black;
}

.about-us-block {
    background: url(images/about-us/orange-back.png) center no-repeat;
    -webkit-background-size: auto;
    background-size: auto;

    background-position-y: 50px;

    display: flex;
    list-style-type: none;
}

.about-green-block {
    position: absolute;
    margin: 10px 0px 0px -6px;
}

.about-right-logo {
    margin: 65px 131px 20px;
}

.about-right-text {
    width: 70%;
    margin: 0px 0px 0px 45px;
}

.about-text {
    font-size: 25px;
    font-weight: 500;
    line-height: 1;

    color: black;
}

.partners-bg {
    background: url(images/partners/frame.png) center no-repeat;
    -webkit-background-size: auto;
    background-size: auto;

    background-position-y: 0px;
}

.partners-h1 {
    color: black;
    font-size: 90px;
    font-weight: 500;
    text-decoration: none;
    text-align: center;
}

.btn-partners {
    margin: 352px 312px 86px;
    display: inline-block;
    vertical-align: top;
    padding: 32px 170px;

    background: url(images/partners/button-grn.png) center no-repeat;
    -webkit-background-size: auto;
    background-size: auto;
    color: #fff;
    font-size: 25px;
    font-weight: 500;
    text-decoration: none;
    text-align: center;

    transition: background 0.1s linear;
}

.btn-partners:hover {
    background: url(images/partners/button-org.png) center no-repeat;
}

.rieltors {
    background: url(images/rieltors/rieltors-bg-1.png) center no-repeat;
    -webkit-background-size: auto;
    background-size: auto;

    background-position-y: 7px;
    background-position-x: 290px;
}

.rieltors-block {
    display: flex;
    }

.rieltors-text {
    width: 40%;
    color: black;
    font-size: 45px;
    font-weight: 500;
    text-decoration: none;
    text-align: left;

    float: left;
    margin: 68px 0px 0px;
}

.rieltors-image {
    float: right;
    width: 60%;
    margin: 0px 0px 0px 200px;
    position: relative;
    z-index: 1;
}

.rieltors-image::after {
    content: "";
    display: block;
    width: 1200px;
    height: 2px;
    margin: 50px 0px 100px -680px;

    background-color: #236532;
}

.rieltors-image-bg {
    float: right;

    margin: 30px 0px 0px -690px;

    content: ' ';
    display: table;
    clear: both;
}

.rieltors-image-bg {
    height: 1vh;
    aspect-ratio: 1 / 1;
    animation: 1.5s linear 0s alternate back-rect-rieltors;
}

@keyframes back-rect-rieltors {
    from {
        transform: translate(-31px, -31px);
        /* для анимации вовремя нужно подключать js, этим я займусь позже */
    }
}