<!DOCTYPE html>
<!--suppress HtmlUnknownTarget -->
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css">
</head>
<div class="container">
    <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
        <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
            <svg class="bi me-2" width="40" height="32">
                <use xlink:href="#bootstrap"></use>
            </svg>
            <span class="fs-4">ЕкаДом</span>
        </a>

        <ul class="nav nav-pills">
            <li class="nav-item"><a href="/ads" class="nav-link">Объявления</a></li>
            <li class="nav-item"><a href="/about" class="nav-link">О нас</a></li>
            <li class="nav-item"><a href="/contacts" class="nav-link active" style="background-color: green; color: darkorange" aria-current="page">Контакты</a></li>
        </ul>
    </header>
</div>
<style>
    .nav-link {
        color: darkorange;
    }
</style>
<body>
<div class="container">
    {% block content%}{%endblock%}
</div>
</body>
</html>
